 body {
      background-image: url('https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'); 
     background-repeat: no-repeat;
     background-size: 100%;
 }
 h1 {
     color: rgb(255, 0, 128);
     font-size: 40px;
     font-family: impact;
     border-bottom: 4px ;
     border-color: rgb(255, 0, 128);
 }
.cont {
    margin: 100px auto;
    width: 25%;
    padding: 10px;
    color: rgb(255, 0, 128);
    text-align: center;
     border-radius: 20px;
     /* box-shadow: 8px 10px 5px rgba(0, 0, 0, 0.3); */
     background-color: rgba(0, 0, 0, 0.3);
}
#n, #e, #p {
    border-radius: 30px;
    border: none;
    height: 25px;
}
#subtn {
    height: 50px;
    text-align: center;
    border: none;
    border-radius: 8px;
    width: 85px;
    font-size: 24px;
    font-family: impact;
    color: white;
    background-color: rgb(255, 0, 128);
}

